<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <div class="container-fluid">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">

        <div class="jumbotron">
    {% for error in form.errors %}
    <p class="warning">{{ error }}</p>
    {% endfor %}
            <form class="form-signin" method="post" action="">{% csrf_token %}
                <h2 class="form-signin-heading">Grumblr</h2>
            <br>
            <table>
            
            <tr>
                <td><label>New password:</label></td>
                <td class="form-control">{{ form.new_password1 }}</td>
                <td class="warning">{{ form.new_password1.errors }}</td>
            </tr>
                <td><label>Confirm password:</label></td>
                <td class="form-control">{{ form.new_password2 }}</td>
                <td class="warning">{{ form.new_password2.errors }}</td>
            <tr>
            </tr>
            

        </table>

<br>
<br>
<br>
<br>
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="reset_password">Change</button>

                
            </form>
          </div>
      </div>
    </div>


</body>



</html>