{% extends "base.html" %}
{% block title %}Send Email{% endblock %}

{% block content %}

    <div class="container-fluid">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">

        <div class="jumbotron">
    {% for error in form.email.errors %}
    <p class="warning">{{ error }}</p>
    {% endfor %}
            <form class="form-signin" method="post" action="{% url 'reset_password' %}">{% csrf_token %}
                <h2 class="form-signin-heading">Grumblr</h2>
                            <br>
                <label>Email address:</label>
                {{ form.email }}

        {% for field in form.hidden_fields %}
{{field}}
{% endfor %}
<br>
<br>
<br>
<br>
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="reset_password">Send Email</button>

                <input type="hidden" name="next" value="{{next}}">
                
            </form>
          </div>
      </div>
    </div>

    <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./css/ie10-viewport-bug-workaround.js"></script>
</body>


{% endblock content %}